body{
  margin:0;
  font-family:Arial;
  background:#eee;
}

.app{
  display:flex;
}

.leftbar{
  width:80px;
  background:#d4aa6a;
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:10px;
}

.nav-btn{
  padding:10px;
  cursor:pointer;
  border:none;
  background:#fff;
}

.content{
  flex:1;
  padding:20px;
}

.screen{
  display:none;
}

.screen.active{
  display:block;
}

.top-bar{
  background:#5f87df;
  padding:10px;
  font-weight:bold;
  margin-bottom:10px;
}

.btn{
  margin-bottom:10px;
  padding:10px;
  cursor:pointer;
}

table{
  width:100%;
  background:#fff;
  border-collapse:collapse;
}

th,td{
  padding:10px;
  border:1px solid #ccc;
  text-align:center;
}

.grid{
  display:flex;
  gap:10px;
  margin-bottom:10px;
}

input{
  padding:10px;
  width:100%;
}
